<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>

		<title>Name site</title>
		<meta name="description" content="">

		<!-- include "modules/head.html" --> <!-- Выводим файл head.html - Мета-данные и стили за первый экран -->
		
		<!-- 
			Здесь можем подключить свои данные непостредственно только к данной странице 
		-->
</head>

<body>
		<!-- 

			html коды

		-->


		<!-- include "modules/head.html" --> <!-- Выводим файл scripts.html - Стили и скрипты -->


		<!-- 
			Здесь можем подключить свои данные непостредственно только к данной странице 
		-->

</body>
</html>